[submodule "libbpf"]
	path = lib/libbpf
	url = https://github.com/libbpf/libbpf
[submodule "lib/bpftool"]
	path = lib/bpftool
	url = https://github.com/libbpf/bpftool.git
[submodule "xdp-tools"]
	path = lib/xdp-tools
	url = https://github.com/xdp-project/xdp-tools
